<template>
    <Page>
        <ActionBar>
            <Label text="NativeScript Test App"/>
        </ActionBar>
        <StackLayout>
            <Label :text="messageText" backgroundColor="red" />
            <Label>
                <Span :text="counterMessage"/>
            </Label>
            <Label :text="notificationResponseText" />
            <Button :text="buttonCounterText" @tap="on_click()"></Button>
            <Button text="Check Notification Permission" @tap="hasNotificationPermission"></Button>
            <Button :text="buttonNotificationText" @tap="on_notification_click"></Button>
            <Button text="Schedule Notification" @tap="on_schedule_click"></Button>
        </StackLayout>
    </Page>
</template>

<script>
    import { LocalNotifications } from "nativescript-local-notifications";
    import { NotificationService } from "../services/notification-service.js";

    export default {
        created() {
            // Handle data being returned by the notification
            LocalNotifications.addOnMessageReceivedCallback(notificationData => {
                this.notificationResponses.push(notificationData);
                this.buttonCounterText = `Notifications received: ${this.notificationResponses ? this.notificationResponses.length : 0}`;
            })
        },
        data: function () {
            return {
                messageText: "Westat test app",
                notificationResponseText: "No notifications received",
                buttonCounterText: "Test counter",
                buttonNotificationText: "Test local notification",
                counter: 0,
                notificationResponses: []
            }
        },
        computed: {
            message() {
                return this.messageText;
            },
            counterMessage() {
                return this.counter;
            }
        },
        methods: {
            on_click: function() {
                this.counter++;
            },
            hasNotificationPermission: function() {
                NotificationService.hasPermission()
                    .then(granted => {
                        alert({
                            title: "Permission granted?",
                            message: granted ? "Yes" : "No",
                            okButtonText: "OK"
                        });
                    });
            },
            on_schedule_click: function() {
                NotificationService.createNotification()
                    .then(() => { console.log('Notification scheduled'); })
                    .catch(error => console.error("doSchedule error: " + error));
            }
        }
    };
</script>

<style scoped lang="scss">
    @import '~@nativescript/theme/scss/variables/blue';

    // Custom styles
    .fas {
        @include colorize($color: accent);
    }

    .info {
        font-size: 20;
        vertical-align: center;
    }
</style>
